### 1. Conditional Basics

Prompt the user for a day of the week, print out whether the day is Monday or not

Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:

The number of hours worked in one week
The hourly rate
For calculating pay:

For working 40 hours or less, each hour is paid at the hourly rate
For working more than 40 hours

the first 40 hours are paid at the hourly rate

each hour after 40 is paid at time and a half (hourly rate * 1.5)

In [3]:
#Prompt the user for a day of the week, print out whether the day is Monday or not
day_of_the_week = 'Monday'

if day_of_the_week == 'Monday':
    print('Today is Monday!')
else:
    print('Today is NOT Monday.')

# Print the result

Today is Monday!

In [4]:

#Prompt the user for a day of the week, print out whether the day is a weekday or a weekend
day_of_the_week = 'Saturday'

if day_of_the_week == 'Saturday' or day_of_the_week == 'Sunday':
    print('Weekends Rock!!')
else:
    print('Weak-days stink')

Weekends Rock!!

In [5]:
# #Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:
#For working 40 hours or less, each hour is paid at the hourly rate. For working more than 40 hours
# Forty_or_less_hours for Forty_or_less_hours in range (40)  (if range (0-40)one_week_hours_of work =< 40 then * hourly_rate 


# #the first 40 hours are paid at the hourly rate. Each hour after 40 is paid at time and a half (hourly rate * 1.5)
standard_pay = 50.00
overtime_pay = standard_pay * 1.5
h = 50

if h <= 40:
    weekly_paycheck = h * standard_pay
    print (f'{weekly_paycheck} is the weekly pay') 
elif h > 40:
    print 
    weekly_paycheck = (standard_pay * 40) + (h - 40) * overtime_pay
    print (f'{weekly_paycheck} is the weekly pay')

2750.0 is the weekly pay

### 2. Loop Basics

a. While

     i. Create an integer variable i with a value of 5. Create a while loop that runs so long as i is less than or      equal to 15. Each loop iteration, output the current value of i, then increment i by one.
     Your output should look like this:

In [6]:
i = 5
while i <= 15:
    print(i)
    i += 1

5
6
7
8
9
10
11
12
13
14
15

ii. Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.

In [2]:
i = 0
while i <= 100:
    print(i)
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

ii. Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000. Output should equal:

In [8]:
i = 2
while i <= 1000000:
    print(i)
    i *= i

2
4
16
256
65536

iii. Write a while loop that uses print to create the output shown below.

In [11]:
i = 100
while i <= 100 and i >= 5:
    print(i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

###For Loops
    i. Write some code using a for loop that prompts the user for a number, then shows a multiplication table up through 10 for that number.

For example, if the user enters 7, your program should output:

In [39]:
input = 7
for number in range (1, 11):
    sum = input * number
    print(f'{input} x {number} = {sum}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

ii. Create a for loop that uses print to create the output shown below.

In [81]:
# number = 1
for numbers in range (1, 10):
    print(f"{str(numbers) * numbers}")

1
22
333
4444
55555
666666
7777777
88888888
999999999