1. Identify the data type of the following values:

In [5]:
type(99.9)

float

In [7]:
type("False")

str

In [8]:
type(False)

bool

In [10]:
type('0')

str

In [11]:
type(0)

int

In [12]:
type(True)

bool

In [13]:
type('True')

str

In [14]:
type([{}])

list

In [15]:
type({'a':[]})

dict

2. What data type would best represent the following?

1. string
1. boolean
1. float
1. boolean
1. string
1. float
1. list
1. dictionary

3. For each of the following code blocks:

* Read the expression and predict the evaluated results

* Execute the expression in a Python REPL.

'1' + 2

In [59]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [24]:
6 % 4

2

In [23]:
type(6 % 4)

int

In [20]:
type(type(6 % 4))

type

In [30]:
'3 + 4 is' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [22]:
0 < 0

False

In [27]:
'False' == False

False

In [28]:
True == 'True'

False

In [31]:
5 >= -5

True

In [33]:
True or "42"

True

In [34]:
6 % 5

1

In [35]:
5 < 4 and 1 == 1

False

In [36]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [37]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

In [38]:
6 % 3 == 0

True

In [39]:
5 % 2 != 0

True

In [40]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [41]:
[1] + [2]

[1, 2]

In [42]:
[1] * 2

[1, 1]

In [43]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [46]:
[] + [] == []

True

In [47]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

4. Describe the following scenarios. You will need to create and assign variables and use operators.

5. You have rented some movies for your kids:

* The Little Mermaid for 3 days
* Brother Bear for 5 days
* Hercules for 1 day

If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [65]:
the_little_mermaid = 3
brother_bear = 5
hercules = 1
price_per_day = float(3.00)

total_price = (the_little_mermaid + brother_bear + hercules) * price_per_day
print("The total price is: $", total_price)

The total price is: $ 27.0

6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

* Google: 400 dollars
* Amazon: 380 dollars
* Facebook: 350 dollars

This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.
How much will you receive in payment for this week?

In [54]:
Google = float(400.00 * 6)
Amazon = float(380.00 * 4)
Facebook = float(350.00 * 10)

total = Amazon + Google + Facebook
print(total)

7420.0

7. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [76]:
class_not_full = True
no_schedule_conflict = False

# Check if the student can enroll in the course
student_can_enroll = class_not_full and not no_schedule_conflict

# Print the result
if student_can_enroll:
    print("The student can enroll in the course.")
else:
    print("The student cannot enroll in the course due to a schedule conflict.")

The student can enroll in the course.

8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [75]:
purchase_more_than_two = True
product_not_expired = True
premium_membership = False

discount_eligibility = product_not_expired and (purchase_more_than_two or premium_membership)

if discount_eligibility:
    print("The customer is eligible for a discount.")
else:
    print("The customer is not eligible for a discount.")

The customer is eligible for a discount.

9. Continue working in the data_types_and_variables.py file. Use the following code to follow the instructions below:


* username = 'codeup'
* password = 'notastrongpassword'

Create a variable that holds a boolean value for each of the following conditions:

* The password must be at least 5 characters
* The username must be no more than 20 characters
* The password must not be the same as the username
* Bonus Neither the username or password can start or end with whitespace

In [81]:
username = 'codeup'
password = 'notastrongpassword'

# Check if the password meets the length requirement
password_length = len(password) >= 5

# Check if the username meets the length requirement
username_length = len(username) <= 20

# Check if the password is different from the username
password_different_from_username = password != username

# Check if both the username and password meet the requirements
user_and_password_valid = password_length and username_length and password_different_from_username

# Print the result
if user_and_password_valid:
    print("The username and password meet the requirements.")
else:
    print("The username and/or password do not meet the requirements.")

The username and password meet the requirements.